$main-bg-color: #171717;
$main-bg-grid-color: #2c2c2c;

$selection-box-color: #bb9af7;

$container-bg-color: #1c1c1c;
$container-bg-hover-color: #1c1c1c;
$container-bg-select-color: #1c1c1c;
$container-border-color: #2f2f2f;
$container-border-hover-color: #bb9af7;
$container-border-select-color: #79b3ff;
$container-input-bg-color: #2f2f2f;

$content-color: #ffffff;
$content-color-dark: #212121;
$content-hover-color: #c0caf5;
$content-select-color: #79b3ff;
$content-bg-color: #212121;
$content-bg-select-color: #212121;
$content-border-color: #212121;
$content-border-select-color: #bb9af7;

$dropdown-color: #79b3ff;
$dropdown-hover-color: #79b3ff;
$dropdown-btn-color: #2f2f2f;
$dropdown-btn-bg-color: #79b3ff;
$dropdown-list-bg-color: #2f2f2f;
$dropdown-list-bg-hover-color: #79b3ff;
$dropdown-list-item-color: #ffffff;
$dropdown-list-item-hover-color: #2f2f2f;

$list-level1-selected-color: #79b3ff;
$list-level2-selected-color: #ffc779;

$loading-overlay1-color: #db3069;
$loading-overlay2-color: #f5d547;
$loading-overlay3-color: #1446a0;
$loading-loader-color: #007bff;

$button-bg-color: #79b3ff;
$button-hover-bg-color: #bb9af7;
$button-color: #ececec;

$socket-color: #c0caf5;
$connection-color: #4089f7;