$container-bg-color: #1f2335;
$container-bg-select-color: #1b1e2e;
$container-border-color: #3b4261;
$container-border-select-color: #bb9af7;

$content-color: #c0caf5;
$content-bg-color: #24283b;
$content-bg-select-color: #24283b;
$content-border-color: #3b4261;
$content-border-select-color: #bb9af7;

$socket-color: #c0caf5;

$connection-color: #4089f7;